<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ojan_.remine">

    <!-- Set permission ke internet-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <!-- Setting manifest aplication-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/Logo_MainMenu"
        android:label="@string/app_name"
        android:logo="@drawable/remine_logo"
        android:supportsRtl="true">

        <!-- Login Menu -->
        <activity
            android:name=".LoginMenu"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Menu -->
        <activity
            android:name=".MainMenu"
            android:theme="@style/MainMenuStyle" />

        <!-- Menu Reparasi -->
        <activity
            android:name=".Cari_tempatReparasi"
            android:theme="@style/MainMenuStyle" />

        <!-- Data Bengkel -->
        <activity
            android:name=".data_bengkel"
            android:theme="@style/MainMenuStyle" />
        <activity
            android:name=".alasan_konfirmasi"
            android:theme="@style/MainMenuStyle"
            />

    </application>

</manifest>